<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.hidden_field :interview_id, :value => params[:interview_id] %>
    <%= f.hidden_field :candidate_id, :value => params[:candidate_id] %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.select(:status, feedback_status_hash, :selected => @comment.status) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
