<%= form_for(@comment) do |f| %>
<% if @comment.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
  <ul>
    <% @comment.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="field">
  <%= f.text_area :description %>
</div>
<%= f.hidden_field :interview_id, :value => params[:interview_id] %>
<%= f.hidden_field :candidate_id, :value => params[:candidate_id] %>
<br />
<div class="field">
  <%= f.label :status %>:
  <% if @comment.status == 'Cancelled' %>
    <%='Cancelled' %>
  <% else %>
    <%= f.select(:status, FEEDBACK_STATUS, :selected => @comment.status) %>
  <% end %>
</div>
<br />
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
 <script>
  $(function() {
    elRTE.prototype.options.panels.customPanel = ['copy', 'cut', 'paste', 'undo', 'redo', 'bold', 'italic', 'underline', 'fontsize', 'fontname', 'horizontalrule', 'insertorderedlist', 'insertunorderedlist', 'forecolor'];
    elRTE.prototype.options.toolbars.customToolbar = ['customPanel'];
    $('#comment_description').elrte({
      height : 170,
      width : 600,
      allowSource : false,
      toolbar : 'customToolbar',
      cssfiles : ['/assets/elrte-inner.css']
    });
  });
</script>
