<h1>Listing comments</h1>

<div>
<div id="create_event_dialog">
  <div id="create_event">
  </div>
</div>
  <h2></h2>
         <%@comments.each do |comment|%>
          <ul>
          <li><div><%=comment.description%></div>
          <span>commented by  <%=link_to comment.user.name, comment.user%> on <%=comment.created_at%> 
            </span>
      <span class="tags"></span>
      <div class="options">
        <%if comment.user == current_user%>
        <%=link_to 'Edit', edit_candidate_interview_comment_path(comment.candidate, comment.interview,comment)%> | 
        <%= link_to 'Destroy', candidate_interview_comment_path(comment.candidate, comment.interview,comment), confirm: 'Are you sure?', method: :delete %>
        <%end%>
      </div>
					</li>
				</ul>
  <%end%>
       <div >
        <%=link_to 'New Comment', new_candidate_interview_comment_path(Candidate.find(params[:candidate_id]), @interview)%>
      </div>
</div>
