<% feed_back_info.each do |i| %>
  <% unless i.comments.blank? %>
    <h3>Feedback</h3>
    <table width="90%" cellpadding="5" cellspacing="5" border="0" style="border: 1px solid #ccc">
      <tr>
        <td width="40%"><strong>Schedule at: </strong><%= i.scheduled_at.to_s(:simple)%> @ <%= i.schedule_time %></td>
        <td width="40%"><strong>Reviewer: </strong><%= User.find(i.user_id).name %></td>
        <td width="20%"><%= show_comment_status(i.comments.try(:first).try(:status)) %></td>
      </tr>
      <tr>
        <td colspan="3" %>
          <%=i.comments.try(:first).try(:description).try(:html_safe) %>
        </td>
    </table>
    <p>&nbsp;</p>
  <% end %>
<% end %>