<%= form_for(@interview) do |f| %>
<% if @interview.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@interview.errors.count, "error") %> prohibited this interview from being saved:</h2>
  <ul>
    <% @interview.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>
<table width="90%" cellpadding="5" cellspacing="5" style="border: 1px solid #ccc">
  <tr>
    <td width="33%"><strong><%= f.label :scheduled_at %>: </strong><%= f.text_field :scheduled_at, :size => 10, :autocomplete => :off %></td>
    <td width="33%"><strong><%= f.label :schedule_time %>: </strong><%= f.text_field :schedule_time, :size => 10, :autocomplete => :off %></td>
    <td width="33%"><strong><%= f.label :user_id, "Assigned to" %>: </strong><%= f.select :user_id, User.interview_panel.collect{|u| [ u.name, u.id ] } %>
    <%= f.hidden_field :candidate_id, :value => (params[:candidate_id] ? params[:candidate_id] : @interview.candidate_id) %></td>
  </tr>
  <tr>
    <td colspan="3"><%= f.submit %>&nbsp;<input type="button" value="Cancel" onclick="window.location.href = '<%= interviews_path %>'">
  </tr>
<div class="actions">
  
</div>
<% end %>
</table>
<script>
  $(function() {
    $("#interview_scheduled_at").datepicker({
      dateFormat : 'dd-mm-yy',
      minDate : 0
    });
    $("#interview_schedule_time").timePicker({
      startTime : "08:00 AM",
      endTime : "08:00 PM",
      show24Hours : false,
      separator : ':',
      step : 15
    });
  });

</script>
