<% interview_schedules.each_with_index do |interview, n|
   prev_schedule = interview_schedules[n-1] unless n == 0
%>
  	<ul>
          <li><%= link_to interview.candidate.name, candidate_path(interview.candidate), :class => "title" %>
          <span ><%= link_to interview.user.name, user_path(interview.user) %> | <%= interview.formated_scheduled_at %> <%= ("| Previously " + (link_to prev_schedule.candidate.name, candidate_interview_path(prev_schedule, prev_schedule.candidate)) + " on #{prev_schedule.formated_scheduled_at}").html_safe unless prev_schedule.nil? %></span>
      <span class="tags"><%= show_tags(interview.candidate).join(" ").html_safe unless interview.candidate.tags.empty? %></span>
      <div class="options">
       <%= cta_links(:candidate, interview.candidate, interview) %>
        <%#= (link_to "Change", edit_candidate_interview_path(interview.candidate, interview, :interviewer_filter => interview.user_id)) + " | " if can? :update, interview %> <%#= (link_to "Cancel", candidate_interview_path(interview.candidate, interview, :cancel=>true), :method => :delete, :confirm => "Are you sure to cancel this interview schedule?") + " | "  if can?(:destroy, interview) %> - <%= feedback_link(interview)%></a></div>
					</li>
				</ul>
<% end %>
