<% unless upcoming.blank? %>
<h3>Upcoming Schedule</h3>
<table id="box-table-a" style="width: 95%">
<tr>
  <th>Scheduled On</th>
  <th>Interviewer</th>
  <th>Status</th>
</tr>
<% upcoming.each do |interview| %>
  <%  unless interview.comments.exists? %>
    <% interviewer = User.find(interview.user_id) %>
<tr>
  <td><%= interview.formated_scheduled_at%> | <%= link_to "Change", edit_candidate_interview_path(@candidate, interview, :interviewer_filter => interviewer.id) if can? :update, interview %> | <%= link_to "Cancel", candidate_interview_path(@candidate, interview, :cancel=>true), :method => :delete, :confirm => "Are you sure to cancel this interview schedule?" if can?(:destroy, interview) %></td>
  <td><%= interviewer.name %></td>
  <td><%= show_comment_status(interview.comments.try(:first).try(:status)) %></td>
  </tr>
<% end %>
<% end %>

</table>
<br />
<% end %>
