<% unless upcoming.blank? %>
  <h3>Upcoming Schedules</h3>
  <div id="rows">
  <ul class="no_border">
<% upcoming.each do |interview| %>
  <li>
  <span><%= "#{interview.interview_type} interview | #{interview.formated_scheduled_at} to " %> <%= link_to interview.user.name, interview.user %>
    <%= (link_to "Change", edit_candidate_interview_path(@candidate, interview, :interviewer_filter => interview.user.id)) + " | " if can? :update, interview %> <%= (link_to "Cancel", candidate_interview_path(@candidate, interview, :cancel=>true), :method => :delete, :confirm => "Are you sure to cancel this interview schedule?") if can?(:destroy, interview) %>
    <%= (" | #{show_comment_status(interview.comments.first.try(:status))}  <span class='feedback'>#{interview.comments.first.try(:description)}</span>").html_safe unless interview.comments.blank? %>
  </span>
  </li>
<% end %>
<br />
</ul>
</div>
<% end %>
