<h1>New Interview Schedule ~ <%= @candidate.name %></h1>

<%= render 'candidate_info' %>

<%= render 'form' %>

<%= render :partial => '/interviews/upcoming', :object => @candidate.interviews.upcoming %>

<%= render 'previous_schedules' %>

<%#= link_to 'Back', interviews_path %>
