<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Dear <%= @user.name %>,
    </p>
    <p>
    <% if @follower %>
      The candidate <b><%= "#{@candidate_name}'s" %></b> profile has been deleted by <strong><%= @current_user.name %></strong>.</p>
    <% else %>
      Your scheduled interview with the candidate <strong><%= @candidate_name %></strong> has been cancelled since the candidate profile has been deleted by <strong><%= @current_user.name %></strong>.</p>
    <% end %>
    <p>
      Thanks!
    </p>
    <p>
      Pramati Technologies Pvt Ltd.
    </p>
  </body>
</html>
