<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Dear <%= @user.name %>,
    </p>
    <p>
    <% if @follower %>
      <%= "#{@interview.interview_type} Interview with the candidate <strong>#{@candidate.name}</strong> is rescheduled to <strong>#{@interviewer.name}</strong> ".html_safe %>
    <% else %>
      <%= "Your scheduled #{@changes[:int_type_was]} interview with the candidate <strong>#{@candidate.name}</strong> has been rescheduled ".html_safe %>
    <% end %>
    from <strong><%= "#{@changes[:int_schedule_was]}" %></strong> to <%= "<strong>#{@interview.formated_scheduled_at(@interview.scheduled_at)}</strong> as <strong>#{@interview.interview_type}</strong> interview %> </strong>.
    </p>
    <p>
    <%= "#{@candidate.name}'s resume : #{download_resume(@candidate, true)}".html_safe %>
    </p>
     <p> Click the below link to know more information about this interview schedule:
      <%= link_to "#{get_hostname}#{candidate_path(@candidate)}", "#{get_hostname}#{candidate_path(@candidate)}" %>
      </p>
    <p>
      Thanks for cooperating.
    </p>
    <p>
      Thanks!
    </p>
    <p>
      Pramati Technologies Pvt Ltd.
    </p>
  </body>
</html>
