<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Dear <%= @user.name %>,
    </p>
    <p>
    <% if @follower %>
      <%= "#{@interview.interview_type} Interview with the candidate <strong>#{@candidate.name}</strong> is rescheduled to <strong>#{@interviewer.name}</strong>".html_safe %>
    <% else %>
      <%= "You are scheduled with #{@interview.interview_type} interview with the candidate <strong>#{@candidate.name}</strong> ".html_safe %>
    <% end %>
    on <b><%= @interview.formated_scheduled_at(@interview.scheduled_at) %></b>.
    </p>
    <p>
    <%= "#{@candidate.name}'s resume : #{download_resume(@candidate, true)}" %>
    </p>
     <p> Click the below link to know more information about this interview schedule:
      <%= link_to "#{get_hostname}#{candidate_path(@candidate)}", "#{get_hostname}#{candidate_path(@candidate)}" %>
      </p>
    <p>
      Thanks for cooperating.
    </p>
    <p>
      Thanks!
    </p>
    <p>
      Pramati Technologies Pvt Ltd.
    </p>
  </body>
</html>
