<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Dear <%= @user.name %>,
    </p>
    <p>
    <%= @follower ? ("#{@interview.interview_type} Interview is scheduled to <strong>#{@interviewer.name}</strong> ".html_safe) : "You are scheduled for an #{@interview.interview_type} interview "  %>
    with the candidate <b><%= @candidate.name%></b> on <b><%= @interview.formated_scheduled_at(@interview.scheduled_at) %></b> <%= unless (names = @interview.print_interviewer_names).blank?; " along with <strong>#{names}</strong>".html_safe end %>.
    </p>
    <p>
    <%= "#{@candidate.name}'s resume : #{download_resume(@candidate, true)}".html_safe %>
    </p>
    <p> Click the below link to know more information about this interview schedule:<br/>
    <%= link_to "#{get_hostname}#{candidate_path(@candidate)}", "#{get_hostname}#{candidate_path(@candidate)}" %>
    </p>
  <p>
    Thank you for your co-operation.
  </p>
  <p>
    Pramati Technologies Pvt Ltd.
  </p>
  </body>
</html>
