<%= form_for @user do |f| %>
<% if @user.errors.any? %>
<div class="error_messages">
  <h2>Form is invalid</h2>
  <ul>
    <% for message in @user.errors.full_messages %>
    <li>
      <%= message %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>
<table class="create_edit_form" cellpadding="5" cellspacing="5">
  <tbody>
    <tr>
      <td class="form_label"><%= f.label :name %></td>
      <td class="form_input"><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td class="form_label"><%= f.label :username %></td>
      <td class="form_input"><%= f.text_field :username %></td>
    </tr>
    <tr>
      <td class="form_label"><%= f.label :email %></td>
      <td class="form_input"><%= f.text_field :email %></td>
    </tr>
    <tr>
      <td class="form_label"><%= f.label :password %></td>
      <td class="form_input"><%= f.password_field :password %></td>
    </tr>
    <tr>
      <td class="form_label"><%= f.label :password_confirmation %></td>
      <td class="form_input"><%= f.password_field :password_confirmation %></td>
    </tr>
    <tr>
      <td class="form_label"><%= f.label :type %></td>
      <td class="form_input"><%= f.select(:type, USER_ROLES, :selected => @user.type) %></td>
    </tr>
    <tr class="button">
      <td></td>
      <td class="form_input"><%= f.submit %> </td>
    </tr>
  </tbody>
</table>
<% end %>
