<%= render 'settings' %>
<div>
<h1>Users</h1>
    <div id="rows">
        <% @users.each do |user| %>
          <ul><li>
          <%= link_to user.name, user_path(user) %>
          <em><%= user.username %> | <%= user.email %></em>
          <span><%= user.role %></span>
          <div class="options"><%= link_to 'Show', user %> | <%= link_to 'Edit', edit_user_path(user) %> | <%= link_to 'Destroy', user, confirm: 'Are you sure to delete the user?', method: :delete %></div>
          </li></ul>
        <% end %>
      </table>
    </div>
    <br />
    <div class="list_top_bar">
      <%= link_to 'New User', new_user_path %>
      <div id="pagination">
        <%= will_paginate(@users)%>
      </div>
    </div>
  </div>
</div>
