<%= render 'settings' %>
<h2>Change Password</h2>
<%= form_tag(password_change_path, :method => "put", :class => "change_password") do%>
<% if @user.errors.any? %>
<div id="errorExplanation">
  <h2>Form is invalid</h2>
  <ul>
    <% for message in @user.errors.full_messages %>
    <li>
      <%= message %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>
<table class="create_edit_form" cellpadding="5" cellspacing="5">
  <tbody>
    <tr>
      <td class="form_label">Password</td>
      <td class="form_input"> <%= password_field :user, :password %> </td>
    </tr>
    <tr>
      <td class="form_label"> Confirm Password </td>
      <td class="form_input"> <%= password_field :user, :password_confirmation %> </td>
    </tr>
    <tr class="button">
      <td></td>
      <td class="form_input"><%= submit_tag("Update") %></td>
    </tr>
  </tbody>
</table>
<% end %>
