<h2>Change Password</h2>
<%= form_tag(password_change_path, :method => "put", :class => "change_password") do%>
<% if @user.errors.any? %>
<div id="errorExplanation">
  <h2>Form is invalid</h2>
  <ul>
    <% for message in @user.errors.full_messages %>
    <li>
      <%= message %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>
<p>
  Password
  <br />
  <%= password_field :user, :password %>
</p>
<br />
<p>
  Confirm Password
  <br />
  <%= password_field :user, :password_confirmation %>
</p>
<br />
<p class="button">
  <%= submit_tag("Submit", :class=>"submit_button") %>
</p>
<% end %>