<div id="top_left_bar">
  <% if current_user.type.to_s == "Interviewer" %>
    <%= link_to "Home", interviews_path, :class => "top_link" %> |
    <%= link_to "Manage Interviews", interviews_path, :class => "top_link" %>
  <% elsif current_user.type.to_s == "Bm" %>
    <%= link_to "Home", candidates_path, :class => "top_link" %> |
    <%= link_to "Manage Candidates", candidates_path, :class => "top_link" %> |
    <%= link_to "Manage Interviews", interviews_path, :class => "top_link" %>
  <% else %>
    <%= link_to "Home", candidates_path, :class => "top_link" %> |
    <%= link_to "Manage Users", users_path, :class => "top_link" %> |
    <%= link_to "Manage Candidates", candidates_path, :class => "top_link" %> |
    <%= link_to "Manage Interviews", interviews_path, :class => "top_link" %>
  <% end %>
</div>
<div id="top_right_bar">
  <%= link_to "Change password", password_change_path%> | 
  <%= current_user.name%> |
  <%= link_to "Logout",log_out_path, :confirm => "Are you sure?", :class => "top_link"%>
</div>