<table width="100%">
  <tr>
    <td width="30%"><h4>Listing Candidates <%= @title %></h4></td>
    <td width="33%">
      <form class="searchform" id="searchform">
      <input type="text" name="search" id="tag_autocomplete" class="searchfield" value="<%= params[:search] %>" title="Search by Tags" data-pre="<%= @search_tags.map(&:attributes).to_json unless @search_tags.blank?  %>" />
      <input class="searchbutton hide" type="submit" value="Go" />
    </form></td>
    <td width="45%">
      <form id="filter_candidate_by_status">
        <%= select_tag('status', options_from_collection_for_select({"All" => "All"}.merge(FEEDBACK_STATUS).merge(HIRING_STATUS), :first, :last, params[:status]), {:prompt => "Filter Candidate By"}) %>
        <%= select_tag("change_status", options_from_collection_for_select(HIRING_STATUS, :first, :last), {:prompt => "Mark as"}) if can? :update, Candidate %>
      </form>
    </td>
  </tr>
</table>
<br />
<%= form_tag(mark_archive_for_selected_candidates_path,:id => "modify_status") do%>
<table id="box-table-a">
  <thead>
    <tr>
      <th scope="col"><%= check_box_tag("select_all")%></th>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Subject</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% unless @candidates.blank? %>
      <%# raise @candidates.to_yaml %>
    <% @candidates.each do |candidate| %>
    <tr>
      <td><%= check_box_tag("select", nil, nil, :name =>"select[candidate_#{candidate.id}]", :value => candidate.id, :class=>"select_candidate")%></td>
      <td><%= candidate.name %></td>
      <td><%= show_candidate_status(candidate)%></td>
      <td><%= candidate.subject%></td>
      <td><%= cta_links(:candidate, candidate) %> </td>
    </tr>
  <% end %>
    <input type="hidden" id="changed_status" name="changed_status" />
    <%else%>
    <tr>
      <td colspan="5" class="no_records_found"> No candidates found. </td>
    </tr>
    <%end%>
    </tbody>
</table>
<%end%>
<br />
<div class="list_top_bar">
  <div style="float:left">
<%= link_to 'New Candidate', new_candidate_path if can? :create, Candidate %>
  </div>
      <div class="pagination">
        <%= will_paginate(@candidates)%>
      </div>
    </div>
    <br />
<h4>Tag Cloud:</h4>
<% tag_cloud(@tags, %w(tag_cloud1 tag_cloud2 tag_cloud3 tag_cloud4)) do |tag, css_class| %>
  <%= link_to tag.name, tag_candidates_path(tag.name), :class => css_class %>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    //Script for filtering the candidates by status
    $("#status").change(function() {
      if($("#status").val() == "")
        alert("Please select a valid filter.")
      else
        $('#filter_candidate_by_status').submit();
    });
    //Script for select all
    $("#select_all").click(function() {
      if($('#select_all').is(':checked')) {
        $(".select_candidate").prop('checked', true);
      } else {
        $(".select_candidate").prop('checked', false);
      }
    });
    //Script for changing the status of the selected candidates
    $("#change_status").change(function() {
      if($(".select_candidate:checked").length == 0) {
        alert("Please select atleast one candidate.");
      } else if($("#change_status").val() == "") {
        alert("Please select a valid status.");
        } else {
        $("#changed_status").val($("#change_status").val());
        $("form#modify_status").submit();
      }
    });
  });

</script>
