<%= form_for(@candidate, :html => { :multipart => true }) do |f| %>
<% if @candidate.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>
  <ul>
    <% @candidate.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>
<table class="create_edit_form" cellpadding="5" cellspacing="5">
  <tbody>
    <tr>
      <td class="form_label"><%= f.label :name %></td>
      <td class="form_input"><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td class="form_label"><%= f.label :email, "Email Address" %></td>
      <td class="form_input"><%= f.text_field :email %></td>
    </tr>
    <tr>
      <td class="form_label"><%= f.label :mobile, "Mobile Number" %></td>
      <td class="form_input"><%= f.text_field :mobile %></td>
    </tr>
    <tr>
      <td class="form_label"><%= f.label :phone, "Landline Number" %></td>
      <td class="form_input"><%= f.text_field :phone %></td>
    </tr>
    <tr>
      <td class="form_label"><%= f.label :subject %></td>
      <td class="form_input"><%= f.text_field :subject %></td>
    </tr>
    <tr>
      <td class="form_label"><%= f.label :resume%></td>
      <td class="form_input"><%= f.file_field :resume %><td>
        <%= show_resume(@candidate) unless @candidate.resume.blank?%>
    </tr>
    <tr>
      <td class="form_label">Tag List</td>
      <td class="form_input">
        <%= f.text_field :tag_list, :id => "autocomplete", :size => "20"  %>
      </td>
    </tr>
    <tr class="button">
      <td></td>
      <td class="form_input"><%= f.submit %></td>
    </tr>
  </tbody>
</table>
<% end %>
<script type="text/javascript">
  $('#autocomplete').tokenInput("<%= pull_tags_path %>",
  {
    theme: "facebook",
    tokenLimit: 5,
    tokenValue: "name",
    preventDuplicates: true,
    onAdd: function(item) {
      $("#candidate_id").val(item.id);
    }, resultsFormatter: function(item) {
      return "<li><div style='display: inline-block; padding-left: 10px;'><div class='full_name'>" + item.name + "</div></div></li>"
    }, tokenFormatter: function(item) {
      return "<li><p>" + item.name + "</p></li>"
    }
  });
</script>
