<table width="100%">
  <tr>
    <td width="40%"><h1>Listing Candidates</h1></td>
    <td width="33%">
    <form class="searchform" style="margin-left: 50px">
      <input type="text" name="search" id="search" class="searchfield" value="<%= params[:search] %>" title="Search by Tags" />
      <input class="searchbutton" type="submit" value="Go" />
    </form></td>
    <td width="20%">
    <form id ="filter_candidate_by_status">
      <%= select_tag('status', options_from_collection_for_select(feedback_status_hash, :first, :last, params[:status]), {:prompt => "Filter Candidate By"}) %>
    </form></td>
  </tr>
</table>
<br />
<table id="box-table-a" style="width: 95%">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Subject</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% unless @candidates.blank? %>
    <% @candidates.each do |candidate| %>
    <tr>
      <td><%= candidate.name %></td>
      <td><%= show_candidate_status(candidate)%></td>
      <td><%= candidate.subject%></td>
      <td><%= cta_links(:candidate, candidate) %> </td>
    </tr>
    <% end %>
    <%else%>
    <tr>
      <td colspan="4" class="no_records_found"> No candidates found. </td>
    </tr>
    <%end%>
    </tody>
</table>
<br />
<%= link_to 'New Candidate', new_candidate_path if can? :create, Candidate %>
<p>
  <%= text_field_tag 'candidate_name', nil,:id => "autocomplete", :size => "30"%>
  <%= hidden_field_tag 'candidate_id'%>
</p>
<script type="text/javascript">
  $(document).ready(function() {
$("#status").change(function() {
if($("#status").val() == "")
alert("Please select a valid filter.")
else
$('#filter_candidate_by_status').submit();
});

$('#autocomplete').tokenInput("<%= fetch_candidates_path %>",
  { theme: "facebook",
    tokenLimit: 1,
    preventDuplicates: true,
    onAdd: function(item) {
      $("#candidate_id").val(item.id);
    }, resultsFormatter: function(item) {
      return "<li><div style='display: inline-block; padding-left: 10px;'><div class='full_name'>" + item.name + "</div><div class='email'>" + item.subject + "</div></div></li>"
    }, tokenFormatter: function(item) {
      return "<li><p>" + item.name + "</p></li>"
    }
  });
  });
</script>