<h1>Candidate ~ <%= @candidate.name %></h1>
<%= render '/interviews/candidate_info' %>
<%= render :partial => '/interviews/feed_back_info', :object => @candidate.interviews %>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Add a Interview Schedule', new_candidate_interview_path(@candidate) %> | 
<%= link_to 'Back', candidates_path %>
