<h1>Listing Projects</h1>

<table id="box-table-a">
  <thead>
  <tr>
    <th scope="col" width="30%">Name</th>
    <th scope="col" width="50%">Description</th>
    <th scope="col" width="20%">Actions</th>
    
  </tr>
</thead>
<tbody>
<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= truncate(project.desc, :length => 20) %></td>
    <td><%#= link_to 'Show', project %> <%= link_to 'Edit', edit_project_path(project) %> | <%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
<tbody>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
