<!DOCTYPE html>
<html>
  <head>
    <title>Resume</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= flash_notifications %>
  </head>
  <body>
    <div id="header">
      <a id="notification_bar"></a>
      <%= render :partial => "shared/top_menu" unless current_user.blank?%>
    </div>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>
