<!DOCTYPE html>
<html>
  <head>
    <title>Pramati HR Recruitment Management</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= flash_notifications %>
  </head>
  <body>
    <a id="notification_bar"></a>
    <div class="page">
    <div class="mainContainer clearfix">
      <div id="header">
        <h1><%= link_to "", root_url %></h1>
      <%= render :partial => "shared/top_menu" unless current_user.blank?%>
    </div>
            <span>
          <div id='loading' style="display:none;">
            Loading...
          </div>
        </span>
    <div id="container">
      <%= yield %>
    </div>
  </div> <!-- Main Container -->
  </div> <!-- Page -->
  </body>
</html>
